* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.top-panel {
    display: flex;
    flex-flow: column wrap;
    width: 50vw;
}

.card-display {
    width: 90vw;
}

.card {
   width: 8vw;
}
