* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.top-panel {
    display: flex;
    flex-flow: column wrap;
    width: 50vw;
    justify-content: center;
    align-content: center;
}

#timer {
    display: flex;
    justify-content: center;
    }

.card-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
   display: flex;
    width: 5vw;
}
